In [1]:
#The total number of months included in the dataset.

In [2]:
#The net total amount of Profit/Losses over the entire period.

In [3]:
#The average of the changes in Profit/Losses over the entire period.

In [5]:

#The greatest increase in profits (date and amount) over the entire period.

In [49]:

#The greatest decrease in losses (date and amount) over the entire period

In [22]:
import pandas as pd

In [23]:
df=pd.read_csv("budget_data.csv")

In [25]:
df.tail()

        Date  Profit/Losses
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

In [8]:
df.dtypes

Date             object
Profit/Losses     int64
dtype: object

In [9]:
df.count()

Date             86
Profit/Losses    86
dtype: int64

In [26]:
month=df.count()

In [11]:
print (month)

Date             86
Profit/Losses    86
dtype: int64

In [12]:
df["Date"].value_counts('')

Nov-2013    1
Aug-2014    1
Jul-2013    1
Feb-2014    1
Sep-2011    1
           ..
Apr-2015    1
Oct-2010    1
Dec-2010    1
May-2011    1
Jan-2011    1
Name: Date, Length: 86, dtype: int64

In [13]:
df["Date"] = df["Date"].str.replace("-", "  ")

In [14]:
df.head()

        Date  Profit/Losses
0  Jan  2010         867884
1  Feb  2010         984655
2  Mar  2010         322013
3  Apr  2010         -69417
4  May  2010         310503

In [35]:
profitandlosses=df['Profit/Losses']

In [36]:
Total=sum(profitandlosses)

In [17]:
print(Total)

38382578

In [18]:
profitandlosses.mean()

446309.0465116279

In [37]:
Greatest_increase=df['Profit/Losses'].max()

In [38]:
Greatest_decrease=df['Profit/Losses'].min()

In [41]:
#greatest decrese

print(df.loc[df['Profit/Losses'].isin([Greatest_decrease])])

         Date  Profit/Losses
44  Sep  2013       -1196225

In [42]:
#greatest increase

print(df.loc[df['Profit/Losses'].isin([Greatest_increase])])

         Date  Profit/Losses
25  Feb  2012        1170593

In [ ]:
prompt = input("Select the file to open: (1) budget_data_1.csv or (2) budget_data_2.csv : ")
if prompt == "1":
    filepath = "budget_data_1.csv"
    output_path = "output_1.txt"
elif prompt == "2":
    filepath = "budget_data_2.csv"
    output_path = "output_2.txt"
    pass

In [3]:
from pathlib import Path

In [5]:
output_path = Path ('output.txt')

In [10]:
with open (output_path, 'w') as file:
    file.write(f"Financial Analysis: \n"
    file.write(f"Total Months: {total_months} \n")
    file.write(f"Total : $ {total_of_pnl} \n")
    file.write(f"Average Change : $ {average} \n")
    file.write(f"Greatest Increase in Profits: {max_key} (${max_value}) \n")
    file.write(f"Greatest Decrease in Profits: {min_key} (${min_value}) \n")

SyntaxError: invalid syntax (<ipython-input-10-6e2a68f340b4>, line 3)

fd = open("whye.txt", "r")
print(fd.read())

In [43]:
fd = open("whye.txt", "r")
print(fd.read())

Total Months:Date             86
Profit/Losses    86
dtype: int64
Total: $38382578
Greatest Increase: $1170593
Greatest Decrease: $-1196225

In [42]:
f = open("whye.txt", "w")
f.write(f"Total Months:{month}  \n")
f.write(f"Total: ${Total}  \n")
f.write(f"Greatest Increase: ${Greatest_increase}  \n")

f.write(f"Greatest Decrease: ${Greatest_decrease}  \n")

f.close()